@font-face {
	font-family: 'Pixeldown';
	src: url(Fonts/pixeldown.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Pixeldown';
	box-sizing: border-box;
}